
# Папка виртуального окружения
venv/
.venv/
.env

# Папки и файлы, создаваемые IDE
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Папки и файлы, создаваемые системами сборки
build/
dist/
*.egg-info/
.eggs/
*.egg

# Логи
*.log

# Системные файлы
.DS_Store
Thumbs.db

# Файлы конфигурации
*.ini
*.cfg
*.json
*.yaml
#*.yml

# Jupyter Notebook
.ipynb_checkpoints

# Pytest
.cache

# huge/unwanted files
/home/snowwy/Desktop/MAI/lab_repos/big_data_analysis/lab_2/BigDataSpark/notebooks/3_mongodb_reports.ipynb